body {
  color: #ffffff;
  background-color: #065b50;
  font-size: 18px;
  font-family: Segoe UI;
  margin: 2%;
  text-align: center;

}

a {
  color: #bfdb1a;
  font-family: Segoe UI;
}

.question {
  margin: 15px;
  padding: 15px;
  border: 2px solid white;
  text-align: left;
}

.header {
  margin: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid #bfdb1a;

}


.logo {
  color: #ffffff;
  float: left;  
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;

  
}

.header-right {
  text-align: right;

  
  
}

.link {
  color: #ffffff;
  padding-left: 20px;
  font-size: 24px;
  text-decoration: none;
}
