body {
  color: #ffffff;
  background-color: #065b50;
  font-size: 18px;
  font-family: Segoe UI;
  margin: 2%;
  text-align: center;

}

a {
  color: #bfdb1a;
  font-family: Segoe UI;
}

.question {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  border: 2px solid white;
  text-align: left;

}

.header {
  margin: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid #bfdb1a;

}


.logo {
  color: #ffffff;
  float: left;  
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 50px;
  
}
.logo:hover {
  text-decoration: underline;
}

.header-right {
  text-align: right;

  
  
}

.link {
  color: #ffffff;
  padding-left: 20px;
  font-size: 24px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 75px;
  padding-top: 25px;
  border-top: 2px solid #bfdb1a;
}

.footer_info {
  font-size: 24px;
}

.title {
  letter-spacing: 5px;
}

.text_wrapper {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  border: 2px solid #bfdb1a;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-right: 20px;
  padding-left: 20px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  font-family: Segoe UI;
}

.button1 {
  background-color: white; 
  color: #065b50; 
  font-weight: bold;
  border: 3px solid #bfdb1a;
}

.button1:hover {
  background-color: #161b21;
  color: white;
}

/* background-color: #161b21; */
